
<div id='app1' v-cloak>
    <v-btn
            text
            color="primary"
            @@click="print()"
          >
            print
          </v-btn>
    <div class="imgc">
                <v-img
      src="https://1.bp.blogspot.com/-8AMwJyJPcO8/WxZiXVR8suI/AAAAAAAADIU/hKQgJCQ4mC8pxmyvLib0ARYKGfkuA9n1ACEwYBhgL/s1600/%25E0%25B8%25A0.%25E0%25B8%2587.%25E0%25B8%2594.1%25E0%25B8%2581.-2.png"
      
    >
     
    <div class="num1" ><!--เลขผู้เสีย =>ต้องมีspaceในdata เพื่อใช้ wordspacing -->
        {{this.CCID.CID}}
    </div>
    <div class="num2" ><!--สาขาที่ =>ต้องมีspaceในdata เพื่อใช้ wordspacing -->
        0 0 0 0 0
    </div>
    <div class="num3" ><!--ชื่อ นามสกุล -->
        The Pure Water & Ice Company Limited
    </div>
    <div class="num4" ><!--ที่อยู่ อาคาร -->
        
    </div>

    <div class="num5" ><!--ที่อยู่ ห้องเลขที่ -->
        
    </div>
    <div class="num6" ><!--ที่อยู่ ชั้นที่ -->
        
    </div>
    <div class="num7" ><!--ที่อยู่ หมู่บ้าน -->
        
    </div>
    <div class="num8" ><!--ที่อยู่ เลขที่ -->
        {{this.ManagerA.Location}}
    </div>
    <div class="num9" ><!--ที่อยู่ หมู่ที่ -->
        {{this.ManagerA.Mu}}
    </div>
    <div class="num10" ><!--ที่อยู่ ซอย -->
        
    </div>
    <div class="num11" ><!--ที่อยู่ แยก -->
        
    </div>
    <div class="num12" ><!--ที่อยู่ ถนน -->
        {{this.ManagerA.Road}}
    </div>
    <div class="num13" ><!--ที่อยู่ แขวง -->
        {{this.ManagerA.Canton}}
    </div>
    <div class="num14" ><!--ที่อยู่ เขต -->
        {{this.ManagerA.district}}
    </div>
    <div class="num15" ><!--ที่อยู่ จังหวัด -->
       {{this.ManagerA.Province}}
    </div>
    <div class="num16" ><!--ที่อยู่ รหัสไปร -->
        {{this.CCID.Code}}
    </div>
     <div class="num17" ><!--ประจำปีภาษี -->
        {{this.Cday.year}}
    </div>
     <div class="num18" ><!--ยื่นปกติ -->
        <input type="checkbox" v-model="C1" class="cb1"/>
    </div>
     <div class="num19" ><!--ยื่นเพิ่มเติม -->
        <input type="checkbox" class="cb2"/>
    </div>
    <div class="num20" ><!--ยื่นเพิ่มเติม ครั้งที่ -->
        1
    </div> 
     <div class="num21" ><!--ใบแนบ -->
        <input type="checkbox" v-model="C1" class="cb3"/>
    </div>
     <div class="num22" ><!--สื่อบันทึก -->
        <input type="checkbox" class="cb4"/>
    </div>
    <div class="num23" ><!--ใบแนบ จำนวน -->
       {{Math.ceil(this.slipSalarys.length/7)}}
    </div>
    <div class="num24" ><!--สื่อบันทึก จำนวน -->
       
    </div>
    <div class="num25" ><!---ทะเบียนรับเลขที่ -->
       
    </div>
    <div class="num26" ><!--เลขอ้างอิงการลงทะเบียน -->
       
    </div>
     <div class="num27" ><!--1 จำนวนราย -->
       {{this.CurrentSalary.length}}
    </div>
     <div class="num28" ><!--1 เงินได้ทั้งสิ้น -->
       {{this.totalall.totalsalary}}
    </div>
    <div class="num29" ><!--1 เงินได้ทั้งสิ้น ทศนิยม -->
       {{this.totalall.totalsalaryD}}
    </div>
     <div class="num30" ><!--1 ภาษีนำส่งทั้งสิ้น -->
       {{this.totalall.totaltax}}
    </div>
    <div class="num31" ><!--1 ภาษีนำส่งทั้งสิ้น ทศนิยม  -->
      {{this.totalall.totaltaxD}}
    </div>
     <div class="num32" ><!--2 ตามหนังสือ -->
       
    </div>
     <div class="num33" ><!--2 ลงวันที่ -->
       
    </div>
     <div class="num34" ><!--2 จำนวนราย -->
       
    </div>
     <div class="num35" ><!--2 เงินได้ทั้งสิ้น -->
       
    </div>
    <div class="num36" ><!--2 เงินได้ทั้งสิ้น ทศนิยม-->
       
    </div>
     <div class="num37" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num38" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div>
     <div class="num39" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
     <div class="num40" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num41" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div> <div class="num42" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num43" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div>
    <div class="num44" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
     <div class="num45" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num46" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div> <div class="num47" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num48" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div>
    <div class="num49" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
     <div class="num50" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num51" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div> <div class="num52" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       
    </div>
    <div class="num53" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       
    </div>
     <div class="num54" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       {{this.CurrentSalary.length}}
    </div>
     <div class="num55" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       {{this.totalall.totalsalary}}
    </div>
    <div class="num56" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       {{this.totalall.totalsalaryD}}
    </div> <div class="num57" ><!--2 ภาษีนำส่งทั้งสิ้น -->
       {{this.totalall.totaltax}}
    </div>
    <div class="num58" ><!--2 ภาษีนำส่งทั้งสิ้น ทศนิยม -->
       {{this.totalall.totaltaxD}}
    </div>
    <div class="num59" ><!--2 ชื่อ1 -->
       {{this.ManagerInfos[0].managerInfoFname}} {{this.ManagerInfos[0].managerInfoLname}}
    </div>
    <div class="num60" ><!--ชื่อ2 -->
     {{this.ManagerInfos[0].managerInfoFname}} {{this.ManagerInfos[0].managerInfoLname}}
    </div>
    <div class="num61" ><!--ตำแหน่ง -->
       Human Resource
    </div>
    <div class="num62" ><!--วัน -->
       {{this.Cday.day}}
    </div>
    <div class="num63" ><!--เดือน -->
       {{this.Cday.monthName}}
    </div>
    <div class="num64" ><!--พ.ศ. -->
       {{this.Cday.year}}
    </div>
</v-img>

</div>


<div class="imgc2" id="imgbill">
    

</div>

</div>


<style>
    .imgc3{
    margin-bottom: 80rem;
    
}
    .imgc2{
    margin: 0;
    position: relative;
    top: 10px;
    width:1500px;
     margin:45px;
}
    
.imgc{
    margin-bottom: 70rem;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
    width:1000px;
}
.num1{
    position: absolute;
    top: 100px;
    left: 282.5px;
    font-size: 19px;
    word-spacing: 5.4px;
}
.num2{
    position: absolute;
    top: 150px;
    left: 465px;
    font-size: 19px;
    word-spacing: 4px;
}
.num3{
    position: absolute;
    top: 175px;
    left: 90px; 
    font-size: 18px;
}
.num4{
    position: absolute;
    top: 201px;
    left: 170px; 
    font-size: 18px;
}
.num5{
    position: absolute;
    top: 201px;
    left: 325px; 
    font-size: 18px;
}
.num6{
    position: absolute;
    top: 201px;
    left: 390px; 
    font-size: 18px;
}
.num7{
    position: absolute;
    top: 201px;
    left: 451px; 
    font-size: 18px;
}
.num8{
    position: absolute;
    top: 227px;
    left: 120px; 
    font-size: 18px;
}
.num9{
    position: absolute;
    top: 227px;
    left: 270px; 
    font-size: 18px;
}
.num10{
    position: absolute;
    top: 227px;
    left: 360px; 
    font-size: 18px;
}
.num11{
    position: absolute;
    top: 227px;
    left: 500px; 
    font-size: 18px;
}
.num12{
    position: absolute;
    top: 254px;
    left: 120px; 
    font-size: 18px;
}
.num13{
    position: absolute;
    top: 254px;
    left: 370px; 
    font-size: 18px;
}
.num14{
    position: absolute;
    top: 279px;
    left: 160px; 
    font-size: 18px;
}
.num15{
    position: absolute;
    top: 279px;
    left: 370px; 
    font-size: 18px;
}
.num16{
    position: absolute;
    top: 305px;
    left: 179px; 
    font-size: 18px;
    word-spacing: 3px;
}
.num17{
    position: absolute;
    top: 135px;
    left: 860px; 
    font-size: 18px;
}
.num18{
    position: absolute;
    top: 248px;
    left: 546px; 
}
input.cb1{  
    height:19px;
    width:100px;
}
.num19{
    position: absolute;
    top: 248px;
    left: 690px; 
}
input.cb2{  
    height:19px;
    width:100px;
}
.num20{
    position: absolute;
    top: 242px;
    left: 895px; 
    font-size: 18px;
}
.num21{
    position: absolute;
    top: 481px;
    left: 396px; 
}
input.cb3{  
    height:19px;
    width:100px;
}
.num22{
    position: absolute;
    top: 510px;
    left: 396px; 
}
input.cb4{  
    height:19px;
    width:100px;
}
.num23{
    position: absolute;
    top: 472px;
    left: 870px;
    font-size: 18px; 
}
.num24{
    position: absolute;
    top: 503px;
    left: 870px; 
    font-size: 18px;

}
.num25{
    position: absolute;
    top: 533px;
    left: 740px;
    font-size: 18px; 
}
.num26{
    position: absolute;
    top: 553px;
    left: 800px; 
    font-size: 18px;

}
.num27{
    position: absolute;
    top: 655px;
    left: 580px; 
    font-size: 18px;
}
.num28{
    position: absolute;
    top: 655px;
    left: 650px; 
    font-size: 18px;
}
.num29{
    position: absolute;
    top: 655px;
    left: 740px; 
    font-size: 18px;
}
.num30{
    position: absolute;
    top: 655px;
    left: 837px; 
    font-size: 18px;
}
.num31{
    position: absolute;
    top: 655px;
    left: 895px; 
    font-size: 18px;
}
.num32{
    position: absolute;
    top: 745px;
    left: 195px; 
    font-size: 18px;
}
.num33{
    position: absolute;
    top: 745px;
    left: 330px; 
    font-size: 18px;
}
.num34{
    position: absolute;
    top: 743px;
    left: 580px; 
    font-size: 18px;
}
.num35{
    position: absolute;
    top: 743px;
    left: 700px; 
    font-size: 18px;
}
.num36{
    position: absolute;
    top: 743px;
    left: 740px; 
    font-size: 18px;
}
.num37{
    position: absolute;
    top: 743px;
    left: 855px; 
    font-size: 18px;
}
.num38{
    position: absolute;
    top:  743px;
    left: 893px; 
    font-size: 18px;
}
.num39{
    position: absolute;
    top: 800px;
    left: 580px; 
    font-size: 18px;
}
.num40{
    position: absolute;
    top: 800px;
    left: 700px; 
    font-size: 18px;
}
.num41{
    position: absolute;
    top: 800px;
    left: 740px; 
    font-size: 18px;
}
.num42{
    position: absolute;
    top: 800px;
    left: 855px; 
    font-size: 18px;
}
.num43{
    position: absolute;
    top:  800px;
    left: 893px; 
    font-size: 18px;
}
.num44{
    position: absolute;
    top: 830px;
    left: 580px; 
    font-size: 18px;
}
.num45{
    position: absolute;
    top: 830px;
    left: 700px; 
    font-size: 18px;
}
.num46{
    position: absolute;
    top: 830px;
    left: 740px; 
    font-size: 18px;
}
.num47{
    position: absolute;
    top: 830px;
    left: 855px; 
    font-size: 18px;
}
.num48{
    position: absolute;
    top:  830px;
    left: 893px; 
    font-size: 18px;
}
.num49{
    position: absolute;
    top: 860px;
    left: 580px; 
    font-size: 18px;
}
.num50{
    position: absolute;
    top: 860px;
    left: 700px; 
    font-size: 18px;
}
.num51{
    position: absolute;
    top: 860px;
    left: 740px; 
    font-size: 18px;
}
.num52{
    position: absolute;
    top: 860px;
    left: 855px; 
    font-size: 18px;
}
.num53{
    position: absolute;
    top:  860px;
    left: 893px; 
    font-size: 18px;
}
.num54{
    position: absolute;
    top: 890px;
    left: 580px; 
    font-size: 18px;
}
.num55{
    position: absolute;
    top: 890px;
    left: 650px; 
    font-size: 18px;
}
.num56{
    position: absolute;
    top: 890px;
    left: 740px; 
    font-size: 18px;
}
.num57{
    position: absolute;
    top: 890px;
    left: 837px; 
    font-size: 18px;
}
.num58{
    position: absolute;
    top:  890px;
    left: 893px; 
    font-size: 18px;
}
.num59{
    position: absolute;
    top: 1010px;
    left: 385px; 
    font-size: 18px;
}
.num60{
    position: absolute;
    top:  1040px;
    left: 385px; 
    font-size: 18px;
}
.num61{
    position: absolute;
    top: 1068px;
    left: 400px; 
    font-size: 18px;
}
.num62{
    position: absolute;
    top:  1098px;
    left: 400px; 
    font-size: 18px;
}
.num63{
    position: absolute;
    top: 1098px;
    left: 470px; 
    font-size: 18px;
}
.num64{
    position: absolute;
    top: 1098px;
    left: 630px; 
    font-size: 18px;
}
.bum1{
    position: absolute;
    top: 42px;
    left: 770px;
    font-size: 20px;
    word-spacing: 7.5px;
}
.bum2{
    position: absolute;
    top: 127px;
    left: 173px;
}
input.ab1{  
    height:20px;
    width:100px;
}
.bum3{
    position: absolute;
    top: 158px;
    left: 173px;

}
input.ab2{  
    height:20px;
    width:100px;
}
.bum4{
    position: absolute;
    top: 127px;
    left: 587px;
}
input.ab3{  
    height:20px;
    width:100px;
}
.bum5{
    position: absolute;
    top: 157px;
    left: 587px;
}
input.ab4{  
    height:20px;
    width:100px;
}
.bum6{
    position: absolute;
    top: 188px;
    left: 587px;
}
input.ab5{  
    height:20px;
    width:100px;
}
.bum7{
    position: absolute;
    top: 93px;
    left: 1345px;
    word-spacing:5px;
    font-size: 18px;
}
.bum8{
    position: absolute;
    top: 195px;
    left: 1250px;
    font-size: 18px;
}
.bum9{
    position: absolute;
    top: 195px;
    left: 1360px;
    font-size: 18px;
}
.bum10{
    position: absolute;
    top: 320px;
    left: 140px;
    font-size: 18px;
}
.bum11{
    position: absolute;
    top: 304px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum12{
    position: absolute;
    top: 304px;
    left: 550px;
    font-size: 18px;
}
.bum13{
    position: absolute;
    top: 304px;
    left: 820px;
    font-size: 18px;
}
.bum14{
    position: absolute;
    top: 335px;
    left: 575px;
    font-size: 18px;
}
.bum15{
    position: absolute;
    top: 320px;
    left: 1100px;
    font-size: 18px;
}
.bum16{
    position: absolute;
    top: 320px;
    left: 1198px;
    font-size: 18px;
}
.bum17{
    position: absolute;
    top: 320px;
    left: 1280px;
    font-size: 18px;
}
.bum18{
    position: absolute;
    top: 320px;
    left: 1375px;
    font-size: 18px;
}
.bum19{
    position: absolute;
    top: 320px;
    left: 1415px;
    font-size: 18px;
}
.bum20{
    position: absolute;
    top: 390px;
    left: 140px;
    font-size: 18px;
}
.bum21{
    position: absolute;
    top: 375px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum22{
    position: absolute;
    top: 375px;
    left: 550px;
    font-size: 18px;
}
.bum23{
    position: absolute;
    top: 375px;
    left: 820px;
    font-size: 18px;
}
.bum24{
    position: absolute;
    top: 405px;
    left: 575px;
    font-size: 18px;
}
.bum25{
    position: absolute;
    top: 390px;
    left: 1100px;
    font-size: 18px;
}
.bum26{
    position: absolute;
    top: 390px;
    left: 1198px;
    font-size: 18px;
}
.bum27{
    position: absolute;
    top: 390px;
    left: 1280px;
    font-size: 18px;
}
.bum28{
    position: absolute;
    top: 390px;
    left: 1375px;
    font-size: 18px;
}
.bum29{
    position: absolute;
    top: 390px;
    left: 1415px;
    font-size: 18px;
}
.bum30{
    position: absolute;
    top: 460px;
    left: 140px;
    font-size: 18px;
}
.bum31{
    position: absolute;
    top: 445px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum32{
    position: absolute;
    top: 445px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum33{
    position: absolute;
    top: 445px;
    left: 820px;
    font-size: 18px;
}
.bum34{
    position: absolute;
    top: 475px;
    left: 575px;
    font-size: 18px;
}
.bum35{
    position: absolute;
    top: 460px;
    left: 1100px;
    font-size: 18px;
}
.bum36{
    position: absolute;
    top: 460px;
    left: 1198px;
    font-size: 18px;
}
.bum37{
    position: absolute;
    top: 460px;
    left: 1280px;
    font-size: 18px;
}
.bum38{
    position: absolute;
    top: 460px;
    left: 1375px;
    font-size: 18px;
}
.bum39{
    position: absolute;
    top: 460px;
    left: 1415px;
    font-size: 18px;
}
.bum40{
    position: absolute;
    top: 525px;
    left: 140px;
    font-size: 18px;
}
.bum41{
    position: absolute;
    top: 513px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum42{
    position: absolute;
    top: 513px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum43{
    position: absolute;
    top: 513px;
    left: 820px;
    font-size: 18px;
}
.bum44{
    position: absolute;
    top: 543px;
    left: 575px;
    font-size: 18px;
}
.bum45{
    position: absolute;
    top: 525px;
    left: 1100px;
    font-size: 18px;
}
.bum46{
    position: absolute;
    top: 525px;
    left: 1198px;
    font-size: 18px;
}
.bum47{
    position: absolute;
    top: 525px;
    left: 1280px;
    font-size: 18px;
}
.bum48{
    position: absolute;
    top: 525px;
    left: 1375px;
    font-size: 18px;
}
.bum49{
    position: absolute;
    top: 525px;
    left: 1415px;
    font-size: 18px;
}
.bum50{
    position: absolute;
    top: 595px;
    left: 140px;
    font-size: 18px;
}
.bum51{
    position: absolute;
    top: 583px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum52{
    position: absolute;
    top: 583px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum53{
    position: absolute;
    top: 583px;
    left: 820px;
    font-size: 18px;
}
.bum54{
    position: absolute;
    top: 613px;
    left: 575px;
    font-size: 18px;
}
.bum55{
    position: absolute;
    top: 595px;
    left: 1100px;
    font-size: 18px;
}
.bum56{
    position: absolute;
    top: 595px;
    left: 1198px;
    font-size: 18px;
}
.bum57{
    position: absolute;
    top: 595px;
    left: 1280px;
    font-size: 18px;
}
.bum58{
    position: absolute;
    top: 595px;
    left: 1375px;
    font-size: 18px;
}
.bum59{
    position: absolute;
    top: 595px;
    left: 1415px;
    font-size: 18px;
}
.bum60{
    position: absolute;
    top: 665px;
    left: 140px;
    font-size: 18px;
}
.bum61{
    position: absolute;
    top: 651px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum62{
    position: absolute;
    top: 651px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum63{
    position: absolute;
    top: 651px;
    left: 820px;
    font-size: 18px;
}
.bum64{
    position: absolute;
    top: 681px;
    left: 575px;
    font-size: 18px;
}
.bum65{
    position: absolute;
    top: 665px;
    left: 1100px;
    font-size: 18px;
}
.bum66{
    position: absolute;
    top: 665px;
    left: 1198px;
    font-size: 18px;
}
.bum67{
    position: absolute;
    top: 665px;
    left: 1280px;
    font-size: 18px;
}
.bum68{
    position: absolute;
    top: 665px;
    left: 1375px;
    font-size: 18px;
}
.bum69{
    position: absolute;
    top: 665px;
    left: 1415px;
    font-size: 18px;
}
.bum70{
    position: absolute;
    top: 735px;
    left: 140px;
    font-size: 18px;
}
.bum71{
    position: absolute;
    top: 720px;
    left: 202px;
    font-size: 18px;
    word-spacing:9px;
}
.bum72{
    position: absolute;
    top: 720px;
    left: 550px;
    font-size: 18px;
    word-spacing:9px;
}
.bum73{
    position: absolute;
    top: 720px;
    left: 820px;
    font-size: 18px;
}
.bum74{
    position: absolute;
    top: 750px;
    left: 575px;
    font-size: 18px;
}
.bum75{
    position: absolute;
    top: 735px;
    left: 1100px;
    font-size: 18px;
}
.bum76{
    position: absolute;
    top: 735px;
    left: 1198px;
    font-size: 18px;
}
.bum77{
    position: absolute;
    top: 735px;
    left: 1280px;
    font-size: 18px;
}
.bum78{
    position: absolute;
    top: 735px;
    left: 1375px;
    font-size: 18px;
}
.bum79{
    position: absolute;
    top: 735px;
    left: 1415px;
    font-size: 18px;
}
.bum80{
    position: absolute;
    top: 800px;
    left: 1100px;
    font-size: 18px;
}
.bum81{
    position: absolute;
    top: 800px;
    left: 1198px;
    font-size: 18px;
}
.bum82{
    position: absolute;
    top: 800px;
    left: 1280px;
    font-size: 18px;
}
.bum83{
    position: absolute;
    top: 800px;
    left: 1375px;
    font-size: 18px;
}
.bum84{
    position: absolute;
    top: 880px;
    left: 1090px;
    font-size: 18px;
}
.bum85{
    position: absolute;
    top: 910px;
    left: 1090px;
    font-size: 18px;
}
.bum86{
   position: absolute;
    top: 940px;
    left: 1090px;
    font-size: 18px;

}
.bum87{
    position: absolute;
    top: 970px;
    left: 1090px;
    font-size: 18px;
}
.bum88{
    position: absolute;
    top: 970px;
    left:1150px;
    font-size: 18px;
}
.bum89{
     position: absolute;
    top: 970px;
    left: 1300px;
    font-size: 18px;
}
</style>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
              
                   slipMasters:[],name1:"Natkamon Napavorakul",taxs:[],CurrentSalarys:[],CurrentSalary:[],ManagerA:[],ManagerInfos:[],totalall:[],Cday:[],CCID:[]
                   ,
                   headers:[

                      {text:'slipMasterName',value:'slipMasterName',align:'center',sortable:true},
                      {text:'slipMasterType',value:'slipMasterType',align:'center',sortable:true},
                      {text:'actions',value:'actions',align:'center',sortable:true}

					],
                    date: new Date().toISOString().substr(0, 10),Date2:[],
                    C1:true,
                    C2:false,
                    C3:false,
                    C4:false,
                    C5:false,
                }//edata
                ,
                created(){
                  this.slipSalarys = @Html.Raw(Json.Serialize(@ViewBag.slipSalarys));
                  this.CurrentSalarys = @Html.Raw(Json.Serialize(@ViewBag.CurrentSalarys));
                  this.taxs = @Html.Raw(Json.Serialize(@ViewBag.taxs));
                  this.ManagerInfos  = @Html.Raw(Json.Serialize(@ViewBag.ManagerInfos));
                  var mound=this.date.split("-");
                  var mound2={
                            day        : parseInt(mound[2]),
                            month      : parseInt(mound[1]),
                            year       : parseInt(mound[0]),
                            monthName  : select(parseInt(mound[1]))
                        }
                  this.slipSalarys=this.slipSalarys.filter(x=>x.month==mound2.month)
                  var abc = ""
                  var asd = ""
                  for(i=0;i<this.ManagerInfos[0].managerCZId.split("").length;i++){
                      abc = abc+this.ManagerInfos[0].managerCZId.split("")[i]+" "
                  }
                  for(i=0;i<this.ManagerInfos[0].managerCode.split("").length;i++){
                      asd = asd+this.ManagerInfos[0].managerCode.split("")[i]+" "
                  }
                  this.CCID = {
                      CID:abc,
                      Code:asd
                  }
                  console.log(this.CCID.CID)
                  var MS = this.ManagerInfos[0].managerAddress.split(",")
                  this.ManagerA = {
                      Location  : MS[0].split(":")[1],
                      Mu        : MS[1].split(":")[1],
                      Road      : MS[2].split(":")[1],
                      district  : MS[3].split(":")[1],
                      Canton    : MS[4].split(":")[1],
                      Province  : MS[5].split(":")[1],
                  }
                  console.log(this.ManagerA)
                  console.log(this.ManagerInfos)
                  
                        this.Cday = mound2;
                        function numberWithCommas(x) {
                  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  }
                  console.log(this.Cday)
                  function select(x){
                    if(x==1){
                        return "January"
                    }
                    else if(x==2){
                        return  "February"
                    }
                    else if(x==3){
                        return  "March"
                    }
                    else if(x==4){
                        return  "April"
                    }
                    else if(x==5){
                        return  "May"
                    }
                    else if(x==6){
                        return  "June"
                    }
                    else if(x==7){
                        return  "July"
                    }
                    else if(x==8){
                        return  "August"
                    }
                    else if(x==9){
                        return  "September"
                    }
                    else if(x==10){
                        return  "October"
                    }
                    else if(x==11){
                        return  "November"
                    }
                    else if(x==12){
                        return  "December"
                    }

                  }
                  console.log(mound2.day)
                  this.CurrentSalary= this.CurrentSalarys.filter(x=>x.year==mound2.year)
                  this.taxs = this.taxs.filter(x=>x.year==mound2.year)
                  console.log(this.slipSalarys)
                  console.log(this.taxs)
                  var div0 = document.getElementById('imgbill');
                  var copy =this.slipSalarys.length%7;
                  console.log(this.slipSalarys[0].employeeCId.split(""))
                  
                  for(a=0;a<this.slipSalarys.length;a++){
                      var qwe = ""
                  for(i=0;i<this.slipSalarys[a].employeeCId.split("").length;i++){
                      qwe = qwe+this.slipSalarys[a].employeeCId.split("")[i]+" "
                  }
                  this.slipSalarys[a].employeeCId=qwe
                  }
                  console.log( this.slipSalarys)
                  var totalsalary = 0;
                  var totaltax = 0;
                  for(i=0;i<this.CurrentSalary.length;i++){
                    totalsalary += this.CurrentSalary[i].currentSalaryAmount*12;
                  }
                  console.log(totalsalary)
                  for(i=0;i<this.taxs.length;i++){
                    totaltax += this.taxs[i].taxY;
                  }
                  console.log(totaltax)
                  this.totalall={
                      totalsalary   : numberWithCommas(totalsalary.toFixed(2).split(".")[0]),
                      totalsalaryD   : totalsalary.toFixed(2).split(".")[1],
                      totaltax      : numberWithCommas(totaltax.toFixed(2).split(".")[0]),
                      totaltaxD      : totaltax.toFixed(2).split(".")[1]
                  }
                  console.log(this.totalall)
                  for(i=0;i<this.slipSalarys.length-copy;i=i+7){
                    div0.innerHTML += "<div class='imgc3'>"+ 
                    "<v-img src = 'https://drive.google.com/uc?id=1989J-WldV3OvD9SgmfzkUI5AeWVRX2F2'" +
                    "contain"+"width='1500px'"+
"style='position: relative; margin-left: -.5em; margin-top: -.5em;'>"+
                    "<div class='bum1' >"+"1 2 1 2 3 1 2 1 2 1 5 5 5"+"</div>"+
                    "<div class='bum2' >"+"<input type='checkbox' v-model='C1' class='ab1'/>"+"</div>"+
                    "<div class='bum3' >"+"<input type='checkbox' v-model='C2' class='ab2'/>"+"</div>"+
                    "<div class='bum4' >"+"<input type='checkbox' v-model='C3' class='ab3'/>"+"</div>"+
                    "<div class='bum5' >"+"<input type='checkbox' v-model='C4' class='ab4'/>"+"</div>"+
                    "<div class='bum6' >"+"<input type='checkbox' v-model='C5' class='ab5'/>"+"</div>"+
                    "<div class='bum7' >"+"0 0 0 0 0"+"</div>"+
                    "<div class='bum8' >"+((i/7)+1)+"</div>"+
                    "<div class='bum9' >"+ Math.ceil(this.slipSalarys.length/7)+"</div>"+
                    "<div class='bum10' >"+this.slipSalarys[i].employeeId+"</div>"+
                    "<div class='bum11' >"+this.slipSalarys[i].employeeCId+"</div>"+
                    "<div class='bum12' >"+this.slipSalarys[i].employeeF+"</div>"+
                    "<div class='bum13' >"+this.slipSalarys[i].employeeL+"</div>"+
                    "<div class='bum14' >"+this.slipSalarys[i].employeeA+"</div>"+
                    "<div class='bum15' >"+numberWithCommas((this.CurrentSalary[i].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum16' >"+(this.CurrentSalary[i].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum17' >"+numberWithCommas(this.taxs[i].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum18' >"+this.taxs[i].taxY.toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum19' >"+" "+"</div>"+
                    "<div class='bum20' >"+this.slipSalarys[i+1].employeeId+"</div>"+
                    "<div class='bum21' >"+this.slipSalarys[i+1].employeeCId+"</div>"+
                    "<div class='bum22' >"+this.slipSalarys[i+1].employeeF+"</div>"+
                    "<div class='bum23' >"+this.slipSalarys[i+1].employeeL+"</div>"+
                    "<div class='bum24' >"+this.slipSalarys[i+1].employeeA+"</div>"+
                    "<div class='bum25' >"+numberWithCommas((this.CurrentSalary[i+1].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum26' >"+(this.CurrentSalary[i+1].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum27' >"+numberWithCommas(this.taxs[i+1].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum28' >"+this.taxs[i+1].taxY.toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum29' >"+""+"</div>"+
                    "<div class='bum30' >"+this.slipSalarys[i+2].employeeId+"</div>"+
                    "<div class='bum31' >"+this.slipSalarys[i+2].employeeCId+"</div>"+
                    "<div class='bum32' >"+this.slipSalarys[i+2].employeeF+"</div>"+
                    "<div class='bum33' >"+this.slipSalarys[i+2].employeeL+"</div>"+
                    "<div class='bum34' >"+this.slipSalarys[i+2].employeeA+"</div>"+
                    "<div class='bum35' >"+numberWithCommas((this.CurrentSalary[i+2].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum36' >"+(this.CurrentSalary[i+2].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum37' >"+numberWithCommas(this.taxs[i+2].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum38' >"+this.taxs[i+2].taxY.toFixed(2).split(".")[1]+"</div>"+   
                    "<div class='bum39' >"+""+"</div>"+
                    "<div class='bum40' >"+this.slipSalarys[i+3].employeeId+"</div>"+
                    "<div class='bum41' >"+this.slipSalarys[i+3].employeeCId+"</div>"+
                    "<div class='bum42' >"+this.slipSalarys[i+3].employeeF+"</div>"+
                    "<div class='bum43' >"+this.slipSalarys[i+3].employeeL+"</div>"+
                    "<div class='bum44' >"+this.slipSalarys[i+3].employeeA+"</div>"+
                    "<div class='bum45' >"+numberWithCommas((this.CurrentSalary[i+3].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum46' >"+(this.CurrentSalary[i+3].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum47' >"+numberWithCommas(this.taxs[i+3].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum48' >"+this.taxs[i+3].taxY.toFixed(2).split(".")[1]+"</div>"+   
                    "<div class='bum49' >"+""+"</div>"+
                    "<div class='bum50' >"+this.slipSalarys[i+4].employeeId+"</div>"+
                    "<div class='bum51' >"+this.slipSalarys[i+4].employeeCId+"</div>"+
                    "<div class='bum52' >"+this.slipSalarys[i+4].employeeF+"</div>"+
                    "<div class='bum53' >"+this.slipSalarys[i+4].employeeL+"</div>"+
                    "<div class='bum54' >"+this.slipSalarys[i+4].employeeA+"</div>"+
                    "<div class='bum55' >"+numberWithCommas((this.CurrentSalary[i+4].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum56' >"+(this.CurrentSalary[i+4].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum57' >"+numberWithCommas(this.taxs[i+4].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum58' >"+this.taxs[i+4].taxY.toFixed(2).split(".")[1]+"</div>"+   
                    "<div class='bum59' >"+""+"</div>"+
                    "<div class='bum60' >"+this.slipSalarys[i+5].employeeId+"</div>"+
                    "<div class='bum61' >"+this.slipSalarys[i+5].employeeCId+"</div>"+
                    "<div class='bum62' >"+this.slipSalarys[i+5].employeeF+"</div>"+
                    "<div class='bum63' >"+this.slipSalarys[i+5].employeeL+"</div>"+
                    "<div class='bum64' >"+this.slipSalarys[i+5].employeeA+"</div>"+
                    "<div class='bum65' >"+numberWithCommas((this.CurrentSalary[i+5].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum66' >"+(this.CurrentSalary[i+5].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum67' >"+numberWithCommas(this.taxs[i+5].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum68' >"+this.taxs[i+5].taxY.toFixed(2).split(".")[1]+"</div>"+   
                    "<div class='bum69' >"+""+"</div>"+
                    "<div class='bum70' >"+this.slipSalarys[i+6].employeeId+"</div>"+
                    "<div class='bum71' >"+this.slipSalarys[i+6].employeeCId+"</div>"+
                    "<div class='bum72' >"+this.slipSalarys[i+6].employeeF+"</div>"+
                    "<div class='bum73' >"+this.slipSalarys[i+6].employeeL+"</div>"+
                    "<div class='bum74' >"+this.slipSalarys[i+6].employeeA+"</div>"+
                    "<div class='bum75' >"+numberWithCommas((this.CurrentSalary[i+6].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum76' >"+(this.CurrentSalary[i+6].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum77' >"+numberWithCommas(this.taxs[i+6].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum78' >"+this.taxs[i+6].taxY.toFixed(2).split(".")[1]+"</div>"+   
                    "<div class='bum79' >"+""+"</div>"+
                    "<div class='bum80' >"+numberWithCommas((totalsalary).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum81' >"+(totalsalary).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum82' >"+numberWithCommas((totaltax).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum83' >"+(totaltax).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum84' >"+"{{this.ManagerInfos[0].managerInfoFname}} {{this.ManagerInfos[0].managerInfoLname}}"+"</div>"+
                    "<div class='bum85' >"+"{{this.ManagerInfos[0].managerInfoFname}} {{this.ManagerInfos[0].managerInfoLname}}"+"</div>"+
                    "<div class='bum86' >"+"Human Resource"+"</div>"+ //มาแก้ด้วย
                    "<div class='bum87' >"+"{{this.Cday.day}}"+"</div>"+
                    "<div class='bum88' >"+"{{this.Cday.monthName}}"+"</div>"+   
                    "<div class='bum89' >"+"{{this.Cday.year}}"+"</div>"+
                    "</v-img>"+"<div>"

                   
                    ;}
                    
                  console.log(copy)
                  
                   var a = " "
                   for(i=0;i<copy;i++){
                        a += "<div class='bum"+(10+(10*i)).toString()+"' >"+this.slipSalarys[(this.slipSalarys.length-(copy-i))].employeeId+"</div>"+
                    "<div class='bum"+(11+(10*i)).toString()+"' >"+this.slipSalarys[(this.slipSalarys.length-(copy-i))].employeeCId+"</div>"+
                    "<div class='bum"+(12+(10*i)).toString()+"' >"+this.slipSalarys[(this.slipSalarys.length-(copy-i))].employeeF+"</div>"+
                    "<div class='bum"+(13+(10*i)).toString()+"' >"+this.slipSalarys[(this.slipSalarys.length-(copy-i))].employeeL+"</div>"+
                    "<div class='bum"+(14+(10*i)).toString()+"' >"+this.slipSalarys[(this.slipSalarys.length-(copy-i))].employeeA+"</div>"+
                    "<div class='bum"+(15+(10*i)).toString()+"' >"+numberWithCommas((this.CurrentSalary[(this.slipSalarys.length-(copy-i))].currentSalaryAmount*12).toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum"+(16+(10*i)).toString()+"' >"+(this.CurrentSalary[(this.slipSalarys.length-(copy-i))].currentSalaryAmount*12).toFixed(2).split(".")[1]+"</div>"+
                    "<div class='bum"+(17+(10*i)).toString()+"' >"+numberWithCommas(this.taxs[(this.slipSalarys.length-(copy-i))].taxY.toFixed(2).split(".")[0])+"</div>"+
                    "<div class='bum"+(18+(10*i)).toString()+"' >"+this.taxs[(this.slipSalarys.length-(copy-i))].taxY.toFixed(2).split(".")[1]+"</div>"+   
                    "<div class='bum"+(19+(10*i)).toString()+"' >"+""+"</div>"
                        
                   }
                       div0.innerHTML += " <v-img src = 'https://drive.google.com/uc?id=1989J-WldV3OvD9SgmfzkUI5AeWVRX2F2'" +
                    "contain"+"width='1500px'"+
                    "style='position: relative; margin-left: -.5em; margin-top: -.5em;'>"+
                    "<div class='bum1' >"+"1 2 1 2 3 1 2 1 2 1 5 5 5"+"</div>"+
                    "<div class='bum2' >"+"<input type='checkbox' class='ab1'/>"+"</div>"+
                    "<div class='bum3' >"+"<input type='checkbox' class='ab2'/>"+"</div>"+
                    "<div class='bum4' >"+"<input type='checkbox' class='ab3'/>"+"</div>"+
                    "<div class='bum5' >"+"<input type='checkbox' class='ab4'/>"+"</div>"+
                    "<div class='bum6' >"+"<input type='checkbox' class='ab5'/>"+"</div>"+
                    "<div class='bum7' >"+"1 2 3 1 2"+"</div>"+
                    "<div class='bum8' >"+Math.ceil(this.slipSalarys.length/7)+"</div>"+
                    "<div class='bum9' >"+Math.ceil(this.slipSalarys.length/7)+"</div>"+
                    "<div class='bum80' >"+"1"+"</div>"+
                    "<div class='bum81' >"+"2"+"</div>"+
                    "<div class='bum82' >"+"2"+"</div>"+
                    "<div class='bum83' >"+"2"+"</div>"+
                    "<div class='bum84' >"+"2"+"</div>"+
                    "<div class='bum85' >"+"2222"+"</div>"+
                    "<div class='bum86' >"+"22"+"</div>"+
                    "<div class='bum87' >"+"2222"+"</div>"+
                    "<div class='bum88' >"+"22"+"</div>"+   
                    "<div class='bum89' >"+"22"+"</div>"+a+
                    "</v-img>"
                    
                    
                }//ecreated
                ,
                methods:{
                    print(){
                         window.print();
                    }

                }//emethods
                ,
                computed:{

                }//ecomputed
            };
            app = new Vue(component);


    </script>

}