<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/ot/index'>ot</a></li>
        <li class='breadcrumb-item active' aria-current='page'>edit</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
             <v-select return-object
          v-model="select_employee"
          :items="employees"
          item-text="employeeId"
          menu-props="auto"
          single-line
          label="employeeId"
          show="employeeId" 
           
  ></v-select>

<v-text-field v-model="ot.oTStart" label="OT Start" ></v-text-field>

<v-text-field v-model="ot.oTFinish" label="OT Finish" ></v-text-field>

<v-text-field v-model="ot.oTDate" label="OT Date" ></v-text-field>

<v-text-field v-model="ot.TotalHour" label="Total Hours" ></v-text-field>

<v-text-field v-model="ot.oStatus" label="OT status" ></v-text-field>


          </v-card-text>
          <v-card-actions>
             <v-btn @@click='edit_ot' color='yellow' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    ot:{}
                    ,
                    employees:[] ,
select_employee:{},

                }//edata
                ,
                created(){
                  this.ot = @Html.Raw(Json.Serialize(@ViewBag.ot));
                     this.employees = @Html.Raw(Json.Serialize(@ViewBag.employees));
this.select_employee = @Html.Raw(Json.Serialize(@ViewBag.select_employee));

                     
                }//ecreated
                ,
                methods:{
                  edit_ot(){
                   this.ot.employeeId = this.select_employee.employeeId;

                    var url = '/ot/edit';
                    var param= this.ot;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == -1){
                               window.location = '/ot/index';
                          }
                          else{
                             alert(res.exception);
                          }
                    });
                    
                  }//emethod

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
