
<div id='app1' v-cloak>

    <v-app style="background-color:#EDF1F2;">
        <v-main>
              <v-card>
            <v-navigation-drawer
                    permanent
                    :mini-variant.sync="mini"
                    fixed
                    app
                    style="background-color:#002952"
                    >
                    <v-list
                    nav
                    dense
                    >
                    <v-btn
                    icon
                    @@click.stop="mini = !mini"
                    >
                    <v-icon style="color:white">mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-list-item @@click='clocking_p' >
                        <v-list-item-icon>
                        <v-icon style="color:white">mdi-timetable</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title style="color:white">CLOCKING</v-list-item-title>
                    </v-list-item>
                    <v-list-item @@click='clocking_i'>
                        <v-list-item-icon>
                        <v-icon style="color:white">mdi-file-import</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title style="color:white">IMPORT</v-list-item-title>
                    </v-list-item>

                      <!---list group--->
                   
                      <v-list-group
                            no-action
                        >
                         <v-list-item slot="activator" >
                            <v-list-item-icon>
                           <v-icon  style="color:white">
                             mdi-timer
                           </v-icon>
                           </v-list-item-icon>
                        <v-list-item-title style="color:white">WORKING TIME</v-list-item-title>
                        </v-list-item>

                              <v-list-item @@click='all_wk'>
                                <v-list-item-title  style="color:white">ALL</v-list-item-title>
                            </v-list-item>
                            <v-list-item @@click='add_wk'>
                                <v-list-item-title  style="color:white">NEW WORKINGTIME</v-list-item-title>
                            </v-list-item>
                        </v-list-group>
                        
                </v-navigation-drawer>
                </v-card>	

            <div class="size">       
            <h3 style="text-align:center">CLOCKING SUMMARY</h3>

            <hr>
            <br>
          <v-container>
          <v-row justify="space-around">
             <div style="width: 200px;">
             <v-select
          :items="department"
          label="Department"
          dense
          v-model="depart"
        ></v-select>
        </div>
             <div style="width: 200px;">
             <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Date:"
            
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="date"
          no-title
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @@click="menu = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @@click="$refs.menu.save(date);"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
      </div>
      <v-btn
              @@click='add_data'
              style="background-color:#002952; color:white;"
             >
                 Search    
             </v-btn>
             <template>
  <div>
    <v-menu
      v-model="menu2"
      :close-on-content-click="false"
      :nudge-width="200"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          style="background-color:#002952; color:white;"
          v-bind="attrs"
          v-on="on"
        >
          Setting
        </v-btn>
      </template>

      <v-card>
        <v-divider></v-divider>
        <v-list>
          <v-list-item>
            <v-list-item-title>Late allowance :</v-list-item-title>   
            <div style="position: absolute; left: 175px;">
            <input type="number" min="1" max="60" style="border: 2px solid black;" v-model="on"> minute
            </div>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Late :</v-list-item-title>
            <div style="position: absolute; left: 175px;">
            <input type="number" min="1" max="60" style="border: 2px solid black;" v-model="late"> minute
            </div>
          </v-list-item>
        </v-list>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            text
            @@click="menu2 = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            text
            @@click="menu2 = false;check();"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>
      </v-row>
      </v-container>
      <v-col cols="12">
            <v-card class="ma-2">
                    <v-card-title class="dark--text" style="background-color:#001f3d;">
                        <h3 style="text-align: center; color:white">Employee Attendance Time</h3>
                    </v-card-title>
                    <v-card-text>
                    <v-chart :options="plot" style="width: 100%; height: 500px;"/>
                    </v-card-text>
                </v-card>
            </v-col>

             <br>
              <v-card-title class="white--text" style="background-color:#001f3d;">
                        <h3 style="text-align: center">Employee List</h3>
            </v-card-title>
             <v-data-table
             :headers ='headers'
             :items   ='clocking'
              class='elevation-1'
             />
                  <template v-slot:item.actions='{item}'>
                        <v-btn 
                        class="white--text"
                        color="blue darken-1"
                        @@click="edit_clocking(item)"
                        >
                            <v-icon>
                            mdi-pencil
                            </v-icon>
                            
                        </v-btn>
                </template>
             </v-data-table>
             </div>
        </v-main>
    </v-app>
</div>
<style>
.size{
    margin:20px;
}
  .v-text-field{
    font-size:20px;
  }

</style>
@section scripts{
    <script>
      Vue.component('v-chart', VueECharts);
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
              
                   clockings:[],workingTimes:[],clocking:[],onTime:[],LastTime:[],departments:[],department:["All"],depart:" ",work1:[],work2:[],work3:[]
                   ,
                   headers:[

                      {text:'Employee Name',value:'employeeName',align:'left',sortable:true},
                      {text:'Time In',value:'clockingIn',align:'left',sortable:true},
                      {text:'Break In',value:'breakIn',align:'left',sortable:true},
                      {text:'Break Out',value:'breakOut',align:'left',sortable:true},
                      {text:'Time Out',value:'clockingOut',align:'left',sortable:true},
                      {text:'Date',value:'date',align:'left',sortable:true},
                      

					          ],
                    itemX:["on Time"," "," "],
                    itemY:[],
                    date: new Date().toISOString().substr(0, 10),
                    menu: false,
                    menu2: false,
                    on:5,
                    late:10,
                    
                    plot: {
                        toolbox: {
                            show: true,
                            left: '90%',
                            feature: {
                                
                                restore: {
                                    show: true,
                                    title: 'restore'
                                },
                                saveAsImage: {
                                    show: true,
                                    title: 'save image'
                                }
                            }
                        },
                        title: {
                            text: 'Employees Clocking Summary',
                            subtext:[],
                            left: 'center',
                        },
                        tooltip: {},
                        legend: {
                            data: ['Employees'],
                        },
                        xAxis: {
                            data: [],
                            axisLabel: {
                                
                                textStyle: {
                                    color: '#4b2c20'
                                }
                            },
                    
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false
                            },
                            z: 10
                        },
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ]
                    },
                    mini:true,
                }//edata
                ,
                created(){
                    this.clockings = @Html.Raw(Json.Serialize(@ViewBag.clockings));
                    this.workingTimes = @Html.Raw(Json.Serialize(@ViewBag.workingTimes));
                    this.departments = @Html.Raw(Json.Serialize(@ViewBag.departments));
                    this.clocking =  this.clockings;   
                    console.log(this.workingTimes);
                    console.log(this.clocking);
                    

                    for(i=0;i<this.departments.length;i++){
                        this.department.push(this.departments[i].departmentName)
                    }
                    
                    
                }//ecreated
                ,
                methods:{
                    add_clocking(){
                        window.location= '/clocking/importview';
                  
                        
                    }//ef
                    
                    ,
                    edit_clocking(item){
                        window.location = '/clocking/edit/'+item.clockingId;
                    }
                    ,
                    add_data(){
                      this.work1=[];
                       this.work2=[];
                       this.work3=[];
                       this.itemX=["On Time(Less than "+this.on+" minutes)","Less than "+this.late+" minutes","more than "+this.late+" minutes"];
                       this.itemY=[];
                        console.log(this.date)
                        var mound=this.date.split("-");
                        var mound2={
                            day:parseInt(mound[2]) ,
                            month:parseInt(mound[1]),
                            year:parseInt(mound[0])
                        }
                        if(this.depart=="All"||this.depart==" "){
                        this.clocking=this.clockings.filter(x=>x.date==mound2.day+"/"+mound2.month+"/"+mound2.year)
                        }
                        else{
                          this.clocking=this.clockings.filter(x=>x.date==mound2.day+"/"+mound2.month+"/"+mound2.year&&x.department==this.depart)
                        }
                        console.log(mound2.day+"/"+mound2.month+"/"+mound2.year)
                        console.log(this.depart)
                        for(i=0;i<this.clocking.length;i++){
                          for(a=0;a<this.workingTimes.length;a++){
                          if(this.clocking[i].departmentId==this.workingTimes[a].departmentId
                              &&this.clocking[i].clockingIn.split(":")[0]==this.workingTimes[a].start.split(":")[0]
                              &&parseInt(this.clocking[i].clockingIn.split(":")[1])==this.on
                              ){
                            this.work1.push(this.clocking[i])
                          }
                          else if(this.clocking[i].departmentId==this.workingTimes[a].departmentId
                              &&this.clocking[i].clockingIn.split(":")[0]==this.workingTimes[a].start.split(":")[0]
                              &&parseInt(this.clocking[i].clockingIn.split(":")[1])<=this.late
                              ){
                            this.work2.push(this.clocking[i])
                          }
                          else if(this.clocking[i].departmentId==this.workingTimes[a].departmentId
                              &&this.clocking[i].clockingIn.split(":")[0]==this.workingTimes[a].start.split(":")[0]
                              &&parseInt(this.clocking[i].clockingIn.split(":")[1])>this.late

                          ){
                            this.work3.push(this.clocking[i])
                          }
                          }
                        }
                        this.work1.sort((a,b) => { 
					              if(a.employeeId > b.employeeId) return 1;
					              else if(a.employeeId == b.employeeId) return 0; 
					              else return -1;
				                });
                        this.work2.sort((a,b) => { 
					              if(a.employeeId > b.employeeId) return 1;
					              else if(a.employeeId == b.employeeId) return 0; 
					              else return -1;
				                });
                        this.work3.sort((a,b) => { 
					              if(a.employeeId > b.employeeId) return 1;
					              else if(a.employeeId == b.employeeId) return 0; 
					              else return -1;
				                });
                          console.log(this.work1)
                          console.log(this.work2)
                          console.log(this.work3)
                          this.itemY=[this.work1.length,this.work2.length,this.work3.length]
                          console.log(this.itemX)
                          console.log(this.itemY)
                          this.plot.title.text  = "Employees Clocking Summary"+"("+this.date+")";
                          this.plot.title.subtext = "Department :"+this.depart;
                          this.plot.xAxis.data = this.itemX;
                    this.plot.series=[{
                            name: 'value',
                            type: 'bar',
                            label: {
                            show: true,
                            position: 'top'
                            },
                            data: this.itemY,
                            itemStyle: { color: '#8C001A'
                            }
                        }];
                    console.log(this.plot);
                    }
                    ,
                    check(){
                            console.log(this.on)
                            this.itemX[1]="Less than "+this.late+" minutes"
                            this.itemX[2]="more than "+this.late+" minutes"
                            console.log(this.itemX)
                        }
                      ,
                      clocking_p(){
                        window.location='/clocking/index'
                      }
                      ,
                      clocking_i(){
                         window.location='/clocking/importview'
                      }
                      ,
                      all_wk(){
                         window.location='/workingtime/index'
                      }
                      ,
                      add_wk(){
                         window.location='/workingtime/add'
                      }

                }//emethods
                ,
                computed:{

                }//ecomputed
            };
            app = new Vue(component);


    </script>

}