<nav aria-label='breadcrumb'>
    <ol class='breadcrumb breadcrumb-arrow'>
        <li class='breadcrumb-item'><a href='/workingtime/index'>workingtime</a></li>
        <li class='breadcrumb-item active' aria-current='page'>edit</li>
    </ol>
</nav>
<div id='app1' v-cloak>

    <v-app>
         
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
             <v-select return-object
          v-model="select_department"
          :items="departments"
          item-text="departmentName"
          menu-props="auto"
          single-line
          label="departmentId"
          show="departmentName" 
           
  ></v-select>

<v-text-field v-model="workingtime.start" label="start" ></v-text-field>

<v-text-field v-model="workingtime.finish" label="start" ></v-text-field>


          </v-card-text>
          <v-card-actions>
             <v-btn @@click='edit_workingtime' color='yellow' outlined>
                <v-icon>
                    mdi-content-save-edit
                </v-icon>
             </v-btn>
          </v-card-actions>
          
        </v-card>
    </v-app>
</div>
@section scripts{
    <script>
        var app;
            var component = {
                vuetify: new Vuetify()
                ,
                el:'#app1'
                ,
                data:{
                    workingtime:{}
                    ,
                    departments:[] ,
select_department:{},

                }//edata
                ,
                created(){
                  this.workingtime = @Html.Raw(Json.Serialize(@ViewBag.workingtime));
                     this.departments = @Html.Raw(Json.Serialize(@ViewBag.departments));
this.select_department = @Html.Raw(Json.Serialize(@ViewBag.select_department));

                     
                }//ecreated
                ,
                methods:{
                  edit_workingtime(){
                   this.workingtime.departmentId = this.select_department.departmentId;

                    var url = '/workingtime/edit';
                    var param= this.workingtime;
                    $.post(url,param)
                    .done(res =>{
                          if(res.error == -1){
                               window.location = '/workingtime/index';
                          }
                          else{
                             alert(res.exception);
                          }
                    });
                    
                  }//emethod

                }//emethod
                ,
                 computed:{

                 }//ecomputed
            };
            app = new Vue(component);


    </script>

}
